<table class="o-table" data-o-component="o-table">
	<caption class="o-table__caption--top">
		Top caption (default)
	</caption>
	<caption class="o-table__caption--bottom">
		Bottom caption
	</caption>
	<thead>
		<tr>
			<th>Heading</th>
			<th>Heading</th>
			<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Heading</th>
			<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Heading</th>
		</tr>
	</thead>
	<tr>
		<td>text data</td>
		<td>text data</td>
		<td class="o-table__cell--numeric">123</td>
		<td class="o-table__cell--numeric">123.45</td>
	</tr>
	<tr>
		<td>text data</td>
		<td>text data</td>
		<td class="o-table__cell--numeric">22</td>
		<td class="o-table__cell--numeric">22.2</td>
	</tr>
	<tr>
		<td>text data</td>
		<td>text data</td>
		<td class="o-table__cell--numeric">3</td>
		<td class="o-table__cell--numeric">3.0</td>
	</tr>
</table>

<table class="o-table" data-o-component="o-table">
	<caption class="o-table__caption--top">
		Top caption (default)
	</caption>
	<caption class="o-table__caption--bottom">
		Bottom caption
	</caption>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th class="o-table__multi-level-header" colspan="2" scope="colgroup">
				Cost Per Combination
			</th>
			<th></th>
		</tr>
		<tr>
			<th>Heading</th>
			<th>Heading</th>
			<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Heading</th>
			<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Heading</th>
		</tr>
	</thead>
	<tr>
		<td>text data</td>
		<td>text data</td>
		<td class="o-table__cell--numeric">123</td>
		<td class="o-table__cell--numeric">123.45</td>
	</tr>
	<tr>
		<td>text data</td>
		<td>text data</td>
		<td class="o-table__cell--numeric">22</td>
		<td class="o-table__cell--numeric">22.2</td>
	</tr>
	<tr>
		<td>text data</td>
		<td>text data</td>
		<td class="o-table__cell--numeric">3</td>
		<td class="o-table__cell--numeric">3.0</td>
	</tr>
</table>
