$o-table-is-silent: false;
@import "./../../main";

// Default font and styles
html {
	font-family: BentonSans, sans-serif;
	background: oColorsGetColorFor('page', 'background');
}

.o-table-container {
	max-width: 600px;
}
