<div style="height: 1000px"></div>

<table class="o-table o-table--row-stripes" data-o-component="o-table" data-o-table-contracted-row-count="2" data-o-table-expanded="false">
	<thead>
		<th>Fruit</th>
		<th>Characteristic</th>
		<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Popularity&nbsp;(%)</th>
		<th>Fruit</th>
		<th>Characteristic</th>
		<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Popularity&nbsp;(%)</th>
		<th>Notes</th>
	</thead>
	<tbody>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry 10</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem minima itaque accusamus eligendi, tenetur tempora sit ratione quidem quasi similique atque odio saepe modi eos, placeat provident dignissimos quaerat maiores.	Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td>Naseberry</td>
			<td>chewy</td>
			<td class="o-table__cell--numeric">4</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td>Dragonfruit</td>
			<td>juicy</td>
			<td class="o-table__cell--numeric">71</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td>Durian</td>
			<td>smelly</td>
			<td class="o-table__cell--numeric">32</td>
			<td style="min-width: 30rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat a harum consequatur dicta? Velit ducimus amet commodi vitae quisquam enim.</td>
		</tr>
	</tbody>
</table>

Lorem ipsum

<div style="height: 1000px"></div>
