<table class="o-table o-table--row-stripes" data-o-component="o-table">
	<thead>
		<th>Fruit</th>
		<th data-o-table-data-type="numeric" class="o-table__cell--numeric">Popularity (%)</th>
		<th>Characteristic</th>
	</thead>
	<tbody>
		<tr>
			<td>Naseberry</td>
			<td class="o-table__cell--numeric">4</td>
			<td>chewy</td>
		</tr>
		<tr>
			<td>Dragonfruit</td>
			<td class="o-table__cell--numeric">71</td>
			<td>juicy</td>
		</tr>
		<tr>
			<td>Durian</td>
			<td class="o-table__cell--numeric">32</td>
			<td>smelly</td>
		</tr>
	</tbody>
</table>
