<table class="o-table" data-o-component="o-table">
	<thead>
		<tr>
			<th>Links</th>
			<th>Formatted numbers</th>
			<th>Abbreviated numbers</th>
			<th>Abbreviated currency</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://en.wikipedia.org/wiki/Pitaya">Dragonfruit <i class="list-view__icon o-icons-icon o-icons-icon--tick"></i></a></td>
			<td>138,000</td>
			<td>84m</td>
			<td>$84m</td>
		</tr>
		<tr>
			<td><a href="https://en.wikipedia.org/wiki/Durian">Durian</a></td>
			<td>1,439,165.43</td>
			<td>36bn</td>
			<td>£36bn</td>
		</tr>
		<tr>
			<td><a href="https://en.wikipedia.org/wiki/Manilkara_zapota">Naseberry</a></td>
			<td>1.28</td>
			<td>1.5bn</td>
			<td>HK$74.9bn</td>
		</tr>
		<tr>
			<td><a href="https://en.wikipedia.org/wiki/Gruy%C3%A8re_cheese">Gruyère</a></td>
			<td>74</td>
			<td>8.27tn</td>
			<td>Rp14.595</td>
		</tr>
	</tbody>
</table>
