<table class="o-table" data-o-component="o-table">
	<thead>
		<tr>
			<th>Links</th>
			<th data-o-table-data-type="number">Formatted numbers</th>
			<th data-o-table-data-type="number">Abbreviated numbers</th>
			<th data-o-table-data-type="number">Ranged numbers</th>
			<th data-o-table-data-type="currency">Ranged currency</th>
			<th data-o-table-data-type="currency">Abbreviated currency</th>
			<th data-o-table-data-type="percent">Percentage</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://en.wikipedia.org/wiki/Pitaya">Dragonfruit <i class="list-view__icon o-icons-icon o-icons-icon--tick"></i></a></td>
			<td>138,000</td>
			<td>84m</td>
			<td>5m&ndash;10m</td>
			<td>$84m&ndash;$86m</td>
			<td>$84m</td>
			<td>30%</td>
		</tr>
		<tr>
			<td><a href="https://en.wikipedia.org/wiki/Durian">Durian</a></td>
			<td>1,439,165.43</td>
			<td>36bn</td>
			<td>5bn&ndash;8bn</td>
			<td>£36bn&ndash;£40bn</td>
			<td>£36bn</td>
			<td>50%</td>
		</tr>
		<tr>
			<td><a href="https://en.wikipedia.org/wiki/Manilkara_zapota">Naseberry</a></td>
			<td>1.28</td>
			<td>1.5bn</td>
			<td>8.6tn&ndash;12tn</td>
			<td>HK$74.9bn&ndash;HK$90bn</td>
			<td>HK$74.9bn</td>
			<td>15%</td>
		</tr>
		<tr>
			<td><a href="https://en.wikipedia.org/wiki/Gruy%C3%A8re_cheese">Gruyère</a></td>
			<td>74</td>
			<td>8.27tn</td>
			<td>1.3&ndash;5</td>
			<td>Rp14.595&ndash;Rp20</td>
			<td>Rp14.595</td>
			<td>60%</td>
		</tr>
	</tbody>
</table>
