$o-table-brand: 'masterbrand' !default;

@include _oTableBrandSet('masterbrand', (
	'variables': (
		table-background: oColorsGetColorFor(o-table page, background)
	),
	'settings': (
		'stripe': true,
		'compact': true
	)
));

@include _oTableBrandSet('internal', (
	'variables': (
		table-background: oColorsGetPaletteColor(white),
		header-background: oColorsMix(black, white, 5),
		table-border-width: 1px,
		table-border-style: solid,
		table-border-color: oColorsMix(black, white, 5)
	),
	'settings': (
		'compact': true
	)
));

@include _oTableBrandSet('whitelabel', (
	'settings': (
		'compact': true
	)
));
