$_o-table-brands: () !default;
$_o-table-current-variant: ();
$_o-table-current-depth: 0;

/**	
* Gets a variable for the globally set brand.
* 
* @param {string} $variable
* @return {string | number | color | null}
**/
@function _oTableBrandVariable($variable) {
    $brand-config: _oTableBrandConfig($o-table-brand);
    $brand-variables: map-get($brand-config, 'variables');
    @if type-of($brand-variables) == 'map' {
        @if length($_o-table-current-variant) == 0 {
            @return _oTableBrandExtractVariable($brand-variables, $variable);
        }
        $variant-variables: map-get($brand-variables, _oTableQuickSort($_o-table-current-variant));
        @if type-of($variant-variables) == 'map' {
            @return _oTableBrandExtractVariable($variant-variables, $variable);
        }
    }
    @return null;
}

/**
* Outputs a variant modifier class if enabled by the current brand setting config. 
* A variant modifier overrides the appearence of a component.
* E.g. .o-table--inverse
*
* @param {string} $variant
**/
@mixin _oTableBrandConfigureFor($variant) {
    @include _oTableSetBrandVariant($variant);
    @if _oTableBrandSupports($variant) {
        @content;
    }
    @include _oTableRemoveBrandVariant($variant);
}

/**
* Remove the lastest added brand variant.
*
* @param {string} $latest-variant
**/
@mixin _oTableRemoveBrandVariant($latest-variant) {
    $_o-table-current-depth: $_o-table-current-depth - length($latest-variant) !global; 
    @if $_o-table-current-depth == 0 {
        $_o-table-current-variant: () !global;
    }
    $new-variants: ();
    $n: 1;
    @while $n <= $_o-table-current-depth {
        $new-variants: join($new-variants, (nth($_o-table-current-variant, $n)), 'comma');
        $n: $n + 1;	
    }
    $_o-table-current-variant: if(length($new-variants) == 0, (), $new-variants) !global;
}

/**
* Set a new brand variant.
*
* @param {string} $latest-variant
**/
@mixin _oTableSetBrandVariant($latest-variant) {
    $_o-table-current-depth: $_o-table-current-depth + length($latest-variant) !global;
    @if length($_o-table-current-variant) == 0 {
        $_o-table-current-variant: $latest-variant !global;
    } @else {
        @if type-of($latest-variant) != 'list' {
            $latest-variant: ($latest-variant);
        }
        $_o-table-current-variant: join($_o-table-current-variant, ($latest-variant)) !global;
    }
}

/**	
* A boolean flag for turning features and variants on/off for the current brand.
* 
* @param {string|map} $variant
* @return {boolean}
**/
@function _oTableBrandSupports($variant) {
    $brand-config: _oTableBrandConfig($o-table-brand);
    $brand-features: map-get($brand-config, 'settings');
    @if type-of($variant) == 'string' {
        $variant: ($variant);
    }
    @each $setting in $variant {
        $setting-configured: type-of($brand-features) == 'map' and map-has-key($brand-features, $setting);
        @if $setting-configured == false or map-get($brand-features, $setting) == false {
            @return false;
        }
    }
    @return true;
}

/**	
* Set brand configuration.
*
* @param {string} $brand
* @param {map} $config
**/
@mixin _oTableBrandSet($brand, $config) {
    @if type-of($config) != 'map' {
        @error 'Could not set brand "#{$brand}", it\'s config must be a map.';
    }
    $variables: map-get($config, 'variables');
    $settings: map-get($config, 'settings');
    $errorMessage: 'Could not set brand "#{$brand}".';
    @if $variables and (type-of($variables) != 'map' and type-of($variables) != 'list' ) {
        @error $errorMessage + ' Config key "variables" should be a map but is of type #{type-of($variables)}.';	
    }
    @if $settings and (type-of($settings) != 'map' and type-of($settings) != 'list' ) {
        @error $errorMessage + ' Config key "settings" should be a map but is of type #{type-of($settings)}.';	
    }
    // sort brand
    $sorted-variables: ();
    @each $key, $value in $variables {
        @if type-of($value) == 'map' {
            $key: _oTableQuickSort($key);
        }
        $sorted-variables: map-merge($sorted-variables, ($key: $value));
    }
    $_o-table-brands: map-merge($_o-table-brands, ($brand: (
        'variables': $sorted-variables,
        'settings': $settings
    ))) !global;
}

/**	
* Get a variable from a map of variables.
*
* @param {map} $variables
* @param {string} $variable
* @return {string | number | color | null}
* @throw Error unexpected brand variable type.
**/
@function _oTableBrandExtractVariable($variables, $variable) {
    @if type-of($variables) == 'map' {
        $value: map-get($variables, $variable);
        $supported-variable-types: ('string', 'number', 'color', 'null');
        @if not index($supported-variable-types, type-of($value)) {
            @error 'Brand variable "#{$variable}" is type of "#{type-of($value)}" but only be one of: #{$supported-variable-types}.';
        }
        @return $value;
    }
    @return null;
}

/**	
* Get all config for a given brand.
*
* @param {string} $brand
* @return {map}
**/
@function _oTableBrandConfig($brand) {
    // Get config for the brand.
    $brand-config: map-get($_o-table-brands, $brand);
    @if $brand-config == null {
        @error 'Could not get brand variable "#{$variable}". The brand #{$brand} has not been set.';
    }
    @return $brand-config;
}

/**	
* Quick sort, alphanumeric.
*
* @param {List} $list The list to sort.
* @return {List}
**/
@function _oTableQuickSort($list) {
    $less:  ();
    $equal: ();
    $large: ();
    @if length($list) > 1 {
        $seed: nth($list, ceil(length($list) / 2));
        @each $item in $list {
            @if $item == $seed {
                $equal: append($equal, $item);
            } @else if _oTableStringCompare($item, $seed) {
                $less: append($less, $item);
            } @else if not _oTableStringCompare($item, $seed) {
                $large: append($large, $item);
            }
        }
        @return join(join(_oTableQuickSort($less), $equal), _oTableQuickSort($large), list-separator($list));
    }
    @return $list;
}

/**	
* Compares two strings to determine which comes first
* according to the order of a given character list.
*
* @param {String} $a
* @param {String} $b
* @return {List}
**/
@function _oTableStringCompare($a, $b) {
    $character-order: ('0','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');
    @if type-of($a) == 'number' and type-of($b) == 'number' {
        @return $a < $b;
    }

    $a: to-lower-case($a + unquote(''));
    $b: to-lower-case($b + unquote(''));

    @for $i from 1 through min(str-length($a), str-length($b)) {
        $char-a: str-slice($a, $i, $i);
        $char-b: str-slice($b, $i, $i);

        @if $char-a and $char-b and index($character-order, $char-a) != index($character-order, $char-b) {
            @return index($character-order, $char-a) < index($character-order, $char-b);
        }
    }

    @return str-length($a) < str-length($b);
}
