////
/// @group o-table
/// @link http://registry.origami.ft.com/components/o-table
////

/// Base styles for caption element - add this to any <caption> you use
@mixin oTableCaption {
	text-align: left;
	padding: 0 10px;
	box-sizing: border-box;
}
