/// Styles for a 'FlatTable'
@mixin oTableResponsiveFlat {
	.o-table--responsive-flat {
		float: left;
		width: 100%;

		*,
		*:before,
		*:after {
			box-sizing: border-box;
		}

		@include oGridRespondTo(S) {
			display: table;
		}

		@include oGridRespondTo($until: S) {
			.o-table__cell--numeric {
				text-align: left;
			}
		}

		td {
			padding: 10px;
			width: 50%;

			@include oGridRespondTo(S) {
				display: table-cell;
			}
		}

		thead th {
			display: none;
			padding: 10px;

			@include oGridRespondTo(S) {
				display: table-cell;
			}
		}

		tr {
			display: flex;
			flex-flow: row wrap;
			width: 100%;

			@include oGridRespondTo(S) {
				display: table-row;
			}
		}

		tbody tr th {
			border-right: 1px solid _oTableGet('table-border-color');
			float: left;
			padding: 10px;
			width: 50%;

			@include oGridRespondTo(S) {
				display: none;
			}
		}

		@include oGridRespondTo($until: S) {
			thead tr {
				display: none;
			}

			tbody tr {
				border-top: 0px;
			}

			tbody tr:not(:first-child) {
				border-top: 2px solid _oTableGet('table-data-color');
			}
		}
	}
}
