/// Styles for a 'FlatTable'
@mixin oTableResponsiveFlat {
	.o-table--responsive-flat {
		width: 100%;

		.o-table__duplicate-heading {
			display: none;
		}

		@include oGridRespondTo($until: S) {
			display: block;

			td,
			th,
			tr {
				box-sizing: border-box;
			}

			tr {
				display: flex;
				flex-flow: row wrap;
				width: 100%;
			}

			td {
				padding: 10px;
				width: 50%;
			}

			thead th {
				display: none;
				padding: 10px;
			}

			thead tr {
				display: none;
			}

			&.o-table--horizontal-lines tbody tr:not(:first-child) {
				border-top: 2px solid _oTableGet('table-data-color');
			}

			.o-table__duplicate-heading {
				display: block;
				border-right: 1px solid _oTableGet('table-border-color');
				float: left;
				padding: 10px;
				width: 50%;
			}

			.o-table__cell--numeric {
				text-align: left;
			}
		}
	}
}
