/// Styles for a 'ScrollTable'
@mixin oTableResponsiveScroll {
	.o-table--responsive-scroll {

		&.o-table--horizontal-lines .o-table__duplicate-row:not(:first-child) {
			border: 0;
			td {
				border-top: 1px solid _oTableGet('table-border-color');
			}
		}

		.o-table__duplicate-row {
			display: none;
		}

		@include oGridRespondTo($until: S) {
			tr:not(.o-table__duplicate-row) {
				display: none;
			}

			.o-table__duplicate-row {
				display: table-row;
			}

			th {
				position: sticky;
				left: 0;
				background-color: _oTableGet('table-background');
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border-right: 2px solid _oTableGet('table-header-border-color');
				}
			}

			.o-table__cell--numeric {
				text-align: left;
			}
		}
	}
}
