////
/// @group o-table
/// @link http://registry.origami.ft.com/components/o-table
////

/// Table row stripes.
///
/// @example
/// .my-stripy-table {
/// 	@include oTableRowStripes($background: #fff, $alt-background: #000);
/// }
/// 
/// @param {String} $color The color property for the tables main rows.
/// @param {String} $background The background color property for the tables main rows.
/// @param {String} $alt-color The color property for the tables alternative (even) rows.
/// @param {String} $alt-background The background color property for the tables alternative (even) rows.
@mixin oTableRowStripes($background, $alt-background, $color: null, $alt-color: null) {
	caption,
	tbody tr, 
	thead tr:last-of-type {
		background-color: $background;
		@if	$color {
			color: $color;
		}
	}

	tbody tr:nth-child(even) {
		background-color: $alt-background;
		@if $alt-color {
			color: $alt-color;
		}
	}
}
