@mixin oTableSortable {
	cursor: pointer;
	user-select: none;
	padding-right: 20px;
	&:after {
		@include oIconsGetIcon('arrows-up-down', $container-width: 20,  $container-height: 20, $iconset-version: 1);
		content: '';
		margin-right: -20px;
		vertical-align: top;
	}
	// Show descending icon with DSC sort applied.
	&[aria-sort='descending'] {
		&:after {
			@include oIconsGetIcon('arrow-down', $container-width: 20,  $container-height: 20, $iconset-version: 1);
			vertical-align: top;
		}
	}
	// Show ascending icon with ASC sort applied or on hover with no sort.
	&[aria-sort='none']:hover,
	&:not([aria-sort]):hover,
	&[aria-sort='ascending'] {
		&:after {
			@include oIconsGetIcon('arrow-up', $container-width: 20,  $container-height: 20, $iconset-version: 1);
			vertical-align: top;
		}
	}
}
