/// Styles for a table wrapper to allow table to overflow.
/// The wrapped table becomes scrollable on small viewports.
@mixin oTableWrapper {
	.o-table-wrapper {
		overflow-y: hidden;
		overflow-x: auto;
		width: 100%;
		scroll-snap-type: x proximity;
		-webkit-overflow-scrolling: touch; //sass-lint:disable-line no-vendor-prefixes
	}
}

